 body{ 
  background-color:aliceblue
 }
 p{
            color:rgb(60, 108, 138); 
            font-size: 10pt;
        }
      #mean {
            color:rgb(95, 76, 34);
            font-size: 20pt;
            background:rgba(235, 235, 235, 0.44);
      }
        .harsh {
            color: rgb(86, 62, 0);
            font-size: 10pt;
            background:honeydew;
        }
  .spinning-image {
    animation: rotation 4s infinite linear;
    display: block;
    margin: 20px auto;
}
.b {
  font-style: italic;
}
.thick {
  font-weight: bold;
}
.thicker {
  font-weight: 1000;
}
.dotted{
  border-style: dotted;
}
.two {
  line-height: 1.6;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.bouncing-image {
    width: 400px; /* Adjust image size as needed */
    height: auto;
    position: relative;
    animation: bounce 1s infinite; /* Apply the animation */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Start and end at original position */
        animation-timing-function: ease-in; /* Fast drop */
    }
    50% {
        transform: translateY(-100px); /* Move up 100px */
        animation-timing-function: ease-out; /* Slow rise */
    }
}
.font {
  font: italic small-caps bold 12px/30px Georgia, serif;
}
.fontw {
  text-decoration-line: underline;
  text-decoration-style: dashed;  
}
.g {list-style-type: decimal;}